.button{
	-fx-font-family:"Comic Sans MS";
	-fx-font-size: 12pt;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}
#btnNumero{
	-fx-background-color: #343645;
		 
}
#btnOperador{
	-fx-background-color: #2196f3;
}